{% extends "header.html" %}
{% block title %}Add New Server{% endblock %}
{% set active_page = "admin" %}
{% block content %}
{{ super() }}
<div class="container">
	<h1>Add New Server</h1>
	<br/>
	<br/>
	<div class="table">
		<table class="table table-hover">
			<form method="post" action="{{url_for('new_server')}}">
				<tr>
					<td>Host</td>
					<td>
						<input name="host" type="text" class="form-control">
					</td>
				</tr>
				<tr>
					<td>Port</td>
					<td>
						<input name="port" type="text" class="form-control">
					</td>
				</tr>
				<tr>
					<td>RCON Password</td>
					<td>
						<input name="losses" type="text" class="form-control">
					</td>
				</tr>
				<button type="submit" class="btn btn-default">Done</button>
    		</form>
		</table>
	</div>

</div>
{% endblock %}