{% extends "header.html" %}
{% block title %}Recent Matches{% endblock %}
{% set active_page = "matches" %}
{% block content %}
{{ super() }}
<div class="container-fluid">
	{% for match in matches %}
	<a href="{{url_for('show_match', id=match.id)}}">
		<div class="match">
			<h4>Match #{{match.id}}</h5>
			<h5>Server: {{servers[loop.index-1].host}}:{{servers[loop.index-1].port}}</h5>
			<h3>
				<span style="color:blue;">{{counts[loop.index-1][0]}}</span>
				<span style="color:red;float:right">{{counts[loop.index-1][1]}}</span>
				<span style="display: table; margin: 0 auto;"> VS </span>
			</h3>
			{% if match.outcome == 0 %}
			<span style="color:blue;">{{match.winner_rank}}</span>
			<span style="color:green;"> + {{match.change}}</span>
			<span style="text-align:right;float:right">
				<span style="color:red">
					{{match.loser_rank}}
				</span>
				 - {{match.change}}
			</span>
			<h4>Winner:
				<span style="color:blue;">Blue Team</span>
			</h4>
			{% else %}
			<span style="color:blue;">{{match.loser_rank}}</span>
			<span> - {{match.change}}</span>
			<span style="color:red;text-align:right;float:right">
				{{match.winner_rank}}
				<span style="color:green">+ {{match.change}}</span>
			</span>
			<h4>Winner:
				<span style="color:red;">Red Team</span>
			</h4>
			{% endif %}
		</div>
	</a>
	{% endfor %}
</div>
{% endblock %}